<h1>登入頁面</h1>
<h2><%= errorMessage %></h2>

<form method="post" action="/login">
  <div>username: <input type="text" name="username"></div>
  <div>password: <input type="password" name="password"></div>
  <div><input type="submit"></div>
</form>